/* VARIABLES DE COLOR Y TAMAÑO */
:root {
    --color-primario: #2980b9;
    --color-secundario: #76a9df;
    --color-fondo: #ecf0f1;
    --color-texto: #2c3e50;
    --color-hover: #28A745;
    --color-fondo-claro: #ffffff;
    --color-borde: #bdc3c7;
    --color-error: red;
    --ancho-maximo: 320px;
    --ancho-sidebar: 250px;
    --padding-general: 40px;
}

/* PARTES PERMANENTES O RECURRENTES DE LAS VISTAS */

/* Ajustes del body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    display: block;
    width: var(--ancho-sidebar);
    height: 100vh;
    background-color: var(--color-primario);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--color-fondo);
    text-align: center;
    font-weight: 600;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: var(--color-fondo);
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: var(--color-secundario);
}

/* VISTAS DE LA APLICACIÓN */

/* Contenedor del login */
#login {
    background-color: var(--color-fondo-claro);
    padding: var(--padding-general);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: var(--ancho-maximo);
    text-align: center;
    border-top: 5px solid var(--color-secundario); /* Borde superior en color secundario */
}

#login h1 {
    font-size: 26px;
    margin-bottom: 15px;
    color: var(--color-texto);
    font-weight: 600;
}

#mensaje {
    font-size: 16px;
    color: var(--color-texto);
    margin-bottom: 25px;
    line-height: 1.5;
}

/* Vista inicial al acceder a un perfil */
.vista-inicial {
    display: block;
    background-color: var(--color-fondo-claro);
    padding: var(--padding-general);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin: auto;
    border-top: 5px solid var(--color-primario)
}

.vista-inicial h1 {
    color: var(--color-texto);
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 600;
}

.vista-inicial p {
    color: var(--color-texto);
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.vista-inicial a {
    color: var(--color-primario);
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--color-fondo);
    transition: background-color 0.3s, color 0.3s;
}

.vista-inicial a:hover {
    background-color: var(--color-primario);
    color: white;
}