/* VARIABLES DE COLOR Y TAMAÑO */
:root {
    --color-primario: #2980b9;
    --color-secundario: #76a9df;
    --color-fondo: #ecf0f1;
    --color-texto: #2c3e50;
    --color-hover: #28A745;
    --color-fondo-claro: #ffffff;
    --color-borde: #bdc3c7;
    --color-error: red;
    --ancho-maximo: 320px;
    --ancho-sidebar: 250px;
    --padding-general: 40px;
}

/* PARTES PERMANENTES O RECURRENTES DE LAS VISTAS */

/* Ajustes del body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    display: block;
    width: var(--ancho-sidebar);
    height: 100vh;
    background-color: var(--color-primario);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: var(--color-fondo);
    text-align: center;
    font-weight: 600;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: var(--color-fondo);
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: var(--color-secundario);
}

/* Botón de cerrar sesión */
.logout a {
    display: block;
    background-color: var(--color-texto);
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.logout a:hover {
    background-color: var(--color-hover);
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido */
    gap: 15px; /* Espacia entre campos */
}

form label {
    font-size: 14px;
    color: var(--color-texto);
    align-self: flex-start; /* Alineamos las etiquetas a la izquierda */
}

form input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--color-fondo);
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

form input:focus {
    border-color: var(--color-secundario);
    outline: none;
}

/* Botón de formularios */
form button[type="submit"] {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: var(--color-borde);;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    box-sizing: border-box;
}

form button[type="submit"]:hover {
    background-color: var(--color-secundario);
    transform: scale(1.02);
}

form button[type="submit"]:active {
    transform: scale(0.98);
}

form button[type="submit"]:disabled {
    background-color: #8f8a8a;
    cursor: not-allowed;
}

/* Mensaje de error */
.mensaje-error {
    background-color: #ffe0e0;
    border: 1px solid #ff4d4d;
    color: #b30000;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 6px;
    max-width: 500px;
    font-family: sans-serif;
}

.mensaje-error p {
    margin: 0;
    font-size: 0.95rem;
}

/* VISTAS DE LA APLICACIÓN */

/* Contenedor del login */
#login {
    background-color: var(--color-fondo-claro);
    padding: var(--padding-general);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: var(--ancho-maximo);
    text-align: center;
    border-top: 5px solid var(--color-secundario); /* Borde superior en color secundario */
}

#login h1 {
    font-size: 26px;
    margin-bottom: 15px;
    color: var(--color-texto);
    font-weight: 600;
}

#mensaje {
    font-size: 16px;
    color: var(--color-texto);
    margin-bottom: 25px;
    line-height: 1.5;
}

/* Vista inicial al acceder a un perfil */
.vista-inicial {
    display: block;
    background-color: var(--color-fondo-claro);
    padding: var(--padding-general);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    margin: auto;
    border-top: 5px solid var(--color-primario)
}

.vista-inicial h1 {
    color: var(--color-texto);
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 600;
}

.vista-inicial p {
    color: var(--color-texto);
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.vista-inicial a {
    color: var(--color-primario);
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--color-fondo);
    transition: background-color 0.3s, color 0.3s;
}

.vista-inicial a:hover {
    background-color: var(--color-primario);
    color: white;
}

/* Vista cursoactual */
.curso-info {
    background-color: #f0f8ff;
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Vista de aviso para las acciones realizadas correctamente */
.aviso-correcto {
    background-color: var(--color-hover);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

.aviso-correcto h2 {
    font-size: 24px;
}

.aviso-correcto p {
    font-size: 16px;
}

/* Vista del listado de usuarios */

/* Contenedor del listado de usuarios */
#listado-usuarios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: var(--padding-general);
    max-width: 1000px;
    margin: 0 auto;
}

/* Tarjeta de cada usuario */
#listado-usuarios .usuario {
    background-color: var(--color-fondo-claro);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px; /* un poco menos que en cursos para mejor proporción */
    transition: transform 0.3s ease;
}

#listado-usuarios .usuario:hover {
    transform: scale(1.02);
}

/* Nombre completo del usuario */
#listado-usuarios .usuario h2 {
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-texto);
}

/* Enlaces dentro de usuario */
#listado-usuarios .usuario a {
    display: inline-block;
    margin: 8px 10px 0 0;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: var(--color-primario);
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#listado-usuarios .usuario a:hover {
    background-color: var(--color-hover);
    transform: scale(1.03);
}

/* Botón de borrar usuario */
#listado-usuarios .usuario a.btn-borrar-usuario {
    background-color: #dc3545;
}

#listado-usuarios .usuario a.btn-borrar-usuario:hover {
    background-color: #c82333;
}

/* Vista del listado de cursos */
#listado-cursos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: var(--padding-general);
    max-width: 1000px;
    margin: 0 auto;
}

#listado-cursos > div {
    background-color: var(--color-fondo-claro);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    transition: transform 0.3s ease;
}

#listado-cursos > div:hover {
    transform: scale(1.02);
}

/* Encabezado de cada curso */
#listado-cursos h2 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-texto);
}

/* Fechas */
#listado-cursos p {
    margin: 5px 0;
    color: var(--color-texto);
    font-size: 14px;
}

/* Botones dentro de los cursos */
#listado-cursos a {
    display: inline-block;
    margin: 8px 10px 0 0;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: var(--color-primario);
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#listado-cursos a:hover {
    background-color: var(--color-hover);
    transform: scale(1.03);
}

/* Colores de los estados del curso */
.activo {
    background-color: rgba(0, 123, 255, 0.1); /* Azul claro */
    border-left: 5px solid #007BFF;
}

.pendiente {
    background-color: rgba(255, 193, 7, 0.15); /* Amarillo claro */
    border-left: 5px solid #FFC107;
}

.finalizado {
    background-color: rgba(220, 53, 69, 0.1); /* Rojo claro */
    border-left: 5px solid #DC3545;
}